<!--<div class="jumbotron text-center">-->
    <!--<h1>Browse</h1>-->

    <!--<p>{{ tagline }}</p>-->
<!--</div>-->

<div class="container-fluid">
    <div class="row">
        <div class="left-sidebar col-lg-3">
            <h4 class="text-center">Filters</h4>
            <hr/>
            <p class="input-group">
                <input placeholder="Start Date" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="fromDate" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default width-50-px text-align-left" ng-click="fromDatePopup()"><i class="glyphicon glyphicon-calendar"></i> <span class="caret"></span></button>
                </span>
            </p>
            <p class="input-group">
                <input placeholder="End Date" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="toDate" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default width-50-px text-align-left" ng-click="toDatePopup()"><i class="glyphicon glyphicon-calendar"></i> <span class="caret"></span></button>
                </span>
            </p>

            <div class="filter-location">
                <div class="input-group">
                    <input ng-model="locationFilter" type="text" class="form-control" aria-label="..." placeholder="Who's the best?">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Location <span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="text-align-center"><a href="#" ng-click="setLocation('North')">North</a></li>
                            <li class="text-align-center"><a href="#" ng-click="setLocation('South')">South</a></li>
                            <li class="text-align-center"><a href="#" ng-click="setLocation('East')">East</a></li>
                            <!--<li role="separator" class="divider"></li>-->
                            <li class="text-align-center"><a href="#" ng-click="setLocation('West')">West</a></li>
                            <li class="text-align-center"><a href="#" ng-click="setLocation('Central')">Central</a></li>
                            <li class="text-align-center"><a href="#" ng-click="setLocation('Any')">Any</a></li>
                            <!--<li class="text-align-center"><a href="#" ng-click="setLocation('Central')">Any</a></li>-->
                        </ul>
                    </div><!-- /btn-group -->
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->


            <!-- Slider -->
            <div class="padding-top-15 padding-bottom-15">
                <rzslider rz-slider-model="slider.lowValue" rz-slider-high="slider.highValue" rz-slider-options="slider.options"></rzslider>
            </div>

            <!--Photography Type Filters-->
            <div class="flexy flex-row justify-center">
                <table>
                    <tr>
                        <td><span class="padding-right-15 font-size-16">Wedding</span></td>
                        <td><input ng-change="filterProfiles()" ng-model="weddingFilter" type="checkbox" aria-label="..."></td>
                    </tr>
                    <tr>
                        <td><span class="padding-right-15 font-size-16">Event</span></td>
                        <td><input ng-change="filterProfiles()" ng-model="eventFilter" type="checkbox" aria-label="..."></td>
                    </tr>
                    <tr>
                        <td><span class="padding-right-15 font-size-16">Casual</span></td>
                        <td><input ng-change="filterProfiles()" ng-model="casualFilter" type="checkbox" aria-label="..."></td>
                    </tr>
                    <tr>
                        <td><span class="padding-right-15 font-size-16">Family</span></td>
                        <td><input ng-change="filterProfiles()" ng-model="familyFilter" type="checkbox" aria-label="..."></td>
                    </tr>
                    <tr>
                        <td><span class="padding-right-15 font-size-16">Fashion</span></td>
                        <td><input ng-change="filterProfiles()" ng-model="fashionFilter" type="checkbox" aria-label="..."></td>
                    </tr>
                    <tr>
                        <td><span class="padding-right-15 font-size-16">Graduation</span></td>
                        <td><input ng-change="filterProfiles()" ng-model="graduationFilter" type="checkbox" aria-label="..."></td>
                    </tr>
                </table>

            </div>
        </div>

        <div class="col-lg-9 col-lg-offset-3 right-gallery">
            <div class="row">
                <div ng-repeat="profile in profiles" class="col-md-4 padding-bottom-30 browse-profile">
                    <img src="{{profile.image}}" class="img-responsive" style="max-height: 533px; overflow: hidden">
                    <div class="table-bordered browse-profile-table">
                        <div class="flexy row padding-right-15 padding-left-15 height-100-px">
                            <div class="padding-left-15 browse-profile-content">
                                <div class="flexy row justify-center browse-profile-title-container"><p class="browse-profile-title"><span style="color: darkgray;">[{{profile.type}}]</span> {{profile.packageName}}</p></div>
                                <div class="flexy row padding-left-15 padding-right-15">
                                    <div>
                                        <img id="profilePic" src="{{profile.profilePic}}" class="browse-profile-pic">
                                    </div>
                                    <div class="padding-left-15 padding-right-15 flex-grow">
                                        <!-- Photographer name -->
                                        <div class="browse-profile-para flexy flex-row space-b" style="color: grey;"><div>{{profile.photographer}}</div><div class="price">${{profile.minPrice}}-${{profile.maxPrice}}</div></div>
                                        <!-- Ratings -->
                                        <p class="browse-profile-para" style="color: darkorange;"><span ng-repeat="idx in iterator(profile.rating) track by $index" class="glyphicon glyphicon-star" aria-hidden="true"></span><span style="padding-left: 15px; color: darkorange;">{{profile.reviews}} reviews</span></p>
                                        <!-- Location -->
                                        <p class="browse-profile-para" style="color: grey">{{profile.location}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>