<div class="jumbotron text-center img-responsive" style="background-image: url(../img/how-it-works-jumbotron.jpg); overflow: hidden">

	<h1 style="color: white">How It Works</h1>

    <p style="color: white">{{ tagline }}</p>
</div>


<div class="container" align="middle" style="width: 960px; margin-right: auto; margin-left:auto">
	<div style="position: relative; display: block">
		<div style="position: absolute; text-align: justify; display: block; width: 380px; left:12%; top: 26%; color: grey;">
			Every photographer is unique. So are their packages. Locale, styles, make-up, costume, color tones and the workflow are the essential elements of a sensational shoot. Browse and select the package that you desire the most for your precious life moments.
		</div>
		<p style="position: relative; top: 100px; left: 100px;"></p>
		<img src="../img/how-it-works-frame-1.png" style="width: 800px">
	</div>
	<div style="position: relative; display: block">
		<div style="position: absolute; text-align: justify; display: block; width: 280px; right:25%; top: -5%; color: grey;">
			Contact the photographer and find out everything you wanna know about the shoot. Communication between the client and the photographer is very important. Let the photographer know your needs and customize the package.
		</div>
		<p style="position: relative; top: 100px; left: 100px;"></p>
		<img src="../img/how-it-works-frame-2.png" style="width: 800px">
	</div>
	<div style="position: relative; display: block">
		<div style="position: absolute; text-align: justify; display: block; width: 400px; left:12%; top: 26%; color: grey;">
			Your money is safe with Parity. We will hold the payment until the photographer delivers your photos as per specified in the package customization.
		</div>
		<p style="position: relative; top: 100px; left: 100px;"></p>
		<img src="../img/how-it-works-frame-3.png" style="width: 800px">
	</div>
	<div style="position: relative; display: block">
		<div style="position: absolute; text-align: justify; display: block; width: 250px; right:25%; top: 0%; color: grey;">
			Let loose yourself and enjoy the shoot! You are the best model in your world. Your photographer will help you stike poses like a professional.
		</div>
		<p style="position: relative; top: 100px; left: 100px;"></p>
		<img src="../img/how-it-works-frame-4.png" style="width: 800px">
	</div>
	<div style="position: relative; display: block">
		<div style="position: absolute; text-align: justify; display: block; width: 410px; left:12%; top: 26%; color: grey;">
			Upon receiving the photos, please confirm the delivery so we can finalize the payment. You want to give the photographer an review, as it's important to maintain the standard of our service and it may help many others to make the right choice.
		</div>
		<p style="position: relative; top: 100px; left: 100px;"></p>
		<img src="../img/how-it-works-frame-5.png" style="width: 800px">
	</div>
	<br>
</div>