<div id="bannerDiv" class="banner" style="height: 250px; overflow: hidden;">
    <img src="../img/profile-banner-2.jpg" class="img-responsive">
</div>
<div class="jumbotron" style="height: 50px">
    <div id="basicInfoDiv" style="position: relative; top: -120px">
        <div id="profilePicNameDiv" style="position: relative; alignment-content: center">
            <img id="profilePic" src="../img/profile-pic-2.jpg" class="img-circle" style="width: 120px">
            <p id="nameText" class="text-uppercase" style="padding-top: 10px; padding-left: 15px">
                Jason Chu <span class="glyphicon glyphicon-bookmark" aria-hidden="true" style="color: gold; "></span>
            </p>
        </div>
        <div id="quoteDiv">
            <i><p id="quoteText" class="text-center"
                  style="color: grey; position: relative; top: -70px; padding-left: 50px">"Serving you with 15 years of experience."</p></i>
        </div>
    </div>
</div>

<div id="bodyDiv" class="container-fluid" style="margin-left: 35px; margin-left: 35px">
    <p style="color: grey">Packages (4)</p>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 padding-bottom-30">
                <img src="../img/package-thumbnail-9.jpg" class="img-responsive" style="max-height: 533px; overflow: hidden">
                <div class="table-bordered">
                    <p style="padding-left: 8px; padding-top: 8px; color: grey; font-size: medium"><span style="color: darkgrey;">[Casual]</span> Social media profile pics</p>
                    <p style="padding-left: 8px; color: darkorange;">50-120 SGD</p>
                    <p style="padding-left: 8px; color: grey">Location of the client's choice (Singapore only)</p>
                </div>
            </div>
            <div class="col-md-4 padding-bottom-30">
                <img src="../img/package-thumbnail-10.jpg" class="img-responsive" style="max-height: 533px; overflow: hidden">
                <div class="table-bordered">
                    <p style="padding-left: 8px; padding-top: 8px; color: grey; font-size: medium"><span style="color: darkgrey;">[Sports]</span> 2-hour sports game coverage</p>
                    <p style="padding-left: 8px; color: darkorange;">200-400 SGD</p>
                    <p style="padding-left: 8px; color: grey">Location of the client's choice</p>
                </div>
            </div>
            <div class="col-md-4 padding-bottom-30">
                <img src="../img/package-thumbnail-11.jpg" class="img-responsive" style="max-height: 533px; overflow: hidden">
                <div class="table-bordered" >
                    <p style="padding-left: 8px; padding-top: 8px; color: grey; font-size: medium"><span style="color: darkgrey;">[Event]</span> Business event coverage</p>
                    <p style="padding-left: 8px; color: darkorange;">Negotiate</p>
                    <p style="padding-left: 8px; color: grey">Location of the client's choice</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 padding-bottom-30">
                <img src="../img/package-thumbnail-12.jpg" class="img-responsive"  style="max-height: 533px; overflow: hidden">
                <div class="table-bordered">
                    <p style="padding-left: 8px; padding-top: 8px; color: grey; font-size: medium"><span style="color: darkgrey;">[Family]</span> Family photos</p>
                    <p style="padding-left: 8px; color: darkorange;">180-800 SGD</p>
                    <p style="padding-left: 8px; color: grey">Location of the client's choice (Singapore only)</p>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <p style="color: grey">Reviews (3)</p>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 padding-bottom-30" style="padding-right: 20px">
                <img src="../img/avatars/1908127_10152977340806158_2380927554234870067_n.jpg" style="width: 40px; height: 40px; float: left; margin-right: 8px;" class="img-circle">
                <p style="margin-top: 8px; margin-left: 8px; font-size: small">JENNY <span style="color: grey;">on </span>"Business event coverage": <span style="color: limegreen;">Very Satisfied</span> </p>
                <p style="color: gray;position: relative; top: 8px">"My boss thinks the photos are better than our event itself and our Facebook album went viral! I got a bonus for hiring Jason! LOL"</p>
            </div>
            <div class="col-md-6 padding-bottom-30">
                <img src="../img/avatars/10171832_10152005995671126_2461480590738115891_n.jpg" style="width: 40px; height: 40px; float: left; margin-right: 8px;" class="img-circle">
                <p style="margin-top: 8px; margin-left: 8px; font-size: small">CHANG YUAN <span style="color: grey;">on </span>"2-hour sports game coverage": <span style="color: limegreen;">Very Satisfied</span> </p>
                <p style="color: gray;position: relative; top: 8px">"Thought it was quite expensive at first, but our football team love the pics! Worth every penny!"</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 padding-bottom-30">
                <img src="../img/avatars/13007384_10154112871892232_1937826994881133820_n.jpg" style="width: 40px; height: 40px; float: left; margin-right: 8px;" class="img-circle">
                <p style="margin-top: 8px; margin-left: 8px; font-size: small">JINGYI <span style="color: grey;">on </span>"Social media profile pics": <span style="color: limegreen;">Very Satisfied</span> </p>
                <p style="color: gray;position: relative; top: 8px">"I thought it was lame to hire a professional photographer for profile pics. But it was entirely a different kind of experience. You should try!"</p>
            </div>
        </div>
    </div>

    <hr>

    <p style="color: grey">The Photographer</p>

    <p>Jason is a veteran photographer in the Singapore photography community. You ask any photographer. There's no way they don't know his name. Ex-NatGeo photographer and Nikon Professional Club member. You get what you pay for.</p>
    <p>He owns a studio in Bukit Timah, Singapore. Jason speaks English, Mandarin and Cantonese.</p>


    <hr>

    <div class="container-fluid" align="middle">
        <row align="middle">
            <div class="col-md-12" align="middle">
                <a href="howitworks">
                    <img src="../img/how-it-works-process.png" class="img-responsive" align="middle"></a>
            </div>
        </row>
    </div>

    <p><br></p>
</div>
