<div id="bannerDiv" class="banner" style="height: 250px; overflow: hidden;">
    <img src="../img/profile-banner-1.jpg" class="img-responsive">
</div>
<div class="jumbotron" style="height: 50px">
    <div id="basicInfoDiv" style="position: relative; top: -120px">
        <div id="profilePicNameDiv" style="position: relative; alignment-content: center">
            <img id="profilePic" src="../img/profile-pic-1.jpg" class="img-circle" style="width: 120px">
            <p id="nameText" class="text-uppercase" style="padding-top: 10px; padding-left: 15px">
                Eric Liu <span class="glyphicon glyphicon-bookmark" aria-hidden="true" style="color: gold; "></span>
            </p>
        </div>
        <div id="quoteDiv">
            <i><p id="quoteText" class="text-center"
                  style="color: grey; position: relative; top: -70px; padding-left: 50px">"I came. I saw. I
                captured."</p></i>
        </div>
    </div>
</div>

<div id="bodyDiv" class="container-fluid" style="margin-left: 35px; margin-left: 35px">
    <p style="color: grey">Packages (5)</p>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 padding-bottom-30">
                <img src="../img/package-thumbnail-1.jpg" class="img-responsive" style="max-height: 533px; overflow: hidden">
                <div class="table-bordered">
                    <p style="padding-left: 8px; padding-top: 8px; color: grey; font-size: medium"><span style="color: darkgrey;">[Indoor]</span> Casual shoot in natural light</p>
                    <p style="padding-left: 8px; color: darkorange;">200-420 SGD</p>
                    <p style="padding-left: 8px; color: grey">Marina Bay Sands, Singapore</p>
                </div>
            </div>
            <div class="col-md-4 padding-bottom-30">
                <img src="../img/package-thumbnail-2.jpg" class="img-responsive" style="max-height: 533px; overflow: hidden">
                <div class="table-bordered">
                    <p style="padding-left: 8px; padding-top: 8px; color: grey; font-size: medium"><span style="color: darkgrey;">[Outdoor]</span> Fashion shoot</p>
                    <p style="padding-left: 8px; color: darkorange;">Negotiate</p>
                    <p style="padding-left: 8px; color: grey">Location of the client's choice</p>
                </div>
            </div>
            <div class="col-md-4 padding-bottom-30">
                <img src="../img/package-thumbnail-3.jpg" class="img-responsive" style="max-height: 533px; overflow: hidden">
                <div class="table-bordered" >
                    <p style="padding-left: 8px; padding-top: 8px; color: grey; font-size: medium"><span style="color: darkgrey;">[Indoor]</span> 2-hour children event coverage</p>
                    <p style="padding-left: 8px; color: darkorange;">350-500 SGD</p>
                    <p style="padding-left: 8px; color: grey">Location of the client's choice (Singapore only)</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 padding-bottom-30">
                <img src="../img/package-thumbnail-4.jpg" class="img-responsive"  style="max-height: 533px; overflow: hidden">
                <div class="table-bordered">
                    <p style="padding-left: 8px; padding-top: 8px; color: grey; font-size: medium"><span style="color: darkgrey;">[Studio]</span> Fun shoot with projected background</p>
                    <p style="padding-left: 8px; color: darkorange;">200-420 SGD</p>
                    <p style="padding-left: 8px; color: grey">Clementi, Singapore</p>
                </div>
            </div>
            <div class="col-md-4 padding-bottom-30">
                <img src="../img/package-thumbnail-5.jpg" class="img-responsive"  style="max-height: 533px; overflow: hidden">
                <div class="table-bordered">
                    <p style="padding-left: 8px; padding-top: 8px; color: grey; font-size: medium"><span style="color: darkgrey;">[Outdoor]</span> 1930 Chinese schoolgirl look</p>
                    <p style="padding-left: 8px; color: darkorange;">180-320 SGD</p>
                    <p style="padding-left: 8px; color: grey">Chinatown, Singapore</p>
                </div>
            </div>
        </div>
    </div>

    <p style="color: grey">Reviews (5)</p>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 padding-bottom-30">
                <img src="../img/avatars/12932599_1101746099882163_9053528131880201505_n.jpg" style="width: 40px; height: 40px; float: left; margin-right: 8px;" class="img-circle">
                <p style="margin-top: 8px; margin-left: 8px; font-size: small">KATHERINE <span style="color: grey;">on </span>"1930 Chinese schoolgirl look": <span style="color: limegreen;">Very Satisfied</span> </p>
                <p style="color: gray;position: relative; top: 8px">"The photographer has permissions to enter some of the oldest Chinese heritage sites, which you don't usually see in other parts of Singapore. I love the feeling of time travelling back to 1930."</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 padding-bottom-30">
                <img src="../img/avatars/1972256_10152657283783894_8600182914320804734_n.jpg" style="width: 40px; height: 40px; float: left; margin-right: 8px;" class="img-circle">
                <p style="margin-top: 8px; margin-left: 8px; font-size: small">NOK <span style="color: grey;">on </span>"Fashion shoot": <span style="color: limegreen;">Very Satisfied</span> </p>
                <p style="color: gray;position: relative; top: 8px">"We were shooting catalog photos for our clothing line for the first. Buyers love our catalog! 5 stars for the photographer if there's star-rating =)))!"</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 padding-bottom-30">
                <img src="../img/avatars/1483291_10152049331453363_417840709_n.jpg" style="width: 40px; height: 40px; float: left; margin-right: 8px;" class="img-circle">
                <p style="margin-top: 8px; margin-left: 8px; font-size: small">KAREN <span style="color: grey;">on </span>"2-hour children event coverage": <span style="color: green;">Satisfied</span> </p>
                <p style="color: gray;position: relative; top: 8px">"We hired Eric for our daughter's 4th birthday party. The photos are good and we understand it's difficult to work with kids."</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 padding-bottom-30">
                <img src="../img/avatars/11258305_10153300027691387_1429312004459041845_n.jpg" style="width: 40px; height: 40px; float: left; margin-right: 8px;" class="img-circle">
                <p style="margin-top: 8px; margin-left: 8px; font-size: small">JOYCE <span style="color: grey;">on </span>"1930 Chinese schoolgirl look": <span style="color: limegreen;">Very Satisfied</span> </p>
                <p style="color: gray;position: relative; top: 8px">"Eric's make-up artist was amazing! Of course his photos were amazing too!"</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 padding-bottom-30">
                <img src="../img/avatars/12342790_10154369221768502_7160378437473897344_n.jpg" style="width: 40px; height: 40px; float: left; margin-right: 8px;" class="img-circle">
                <p style="margin-top: 8px; margin-left: 8px; font-size: small">LORE <span style="color: grey;">on </span>"Fun shoot with projected background": <span style="color: limegreen;">Very Satisfied</span> </p>
                <p style="color: gray;position: relative; top: 8px">"I love working with Eric and his team. The shoot was very enjoyable and full of fun. It was a very unique experience. I almost felt I was an model!"</p>
            </div>
        </div>
    </div>

    <p style="color: grey">The Photographer</p>

    <p>Eric has more than 10 years of shooting experience. He had been working part-time in several studios since high school. His photos won many awards, including two Canon Photo Challenge gold medals.</p>
    <p>He owns a studio in Outram Park, Singapore. Eric speaks English and Mandarin fluently. He loves travelling.</p>

    <p><br></p>
</div>
